

<mat-divider></mat-divider>
<button mat-stroked-button color="#FFFFFF" ><img src="https://cdn-icons-png.flaticon.com/128/4415/4415779.png" width="40" height="45" />Canción</button>

<mat-divider></mat-divider>
<button mat-raised-button color="#FFFFFF" class="hover-class" (click)="openDialogcancion()"><img src="https://cdn-icons-png.flaticon.com/128/1090/1090923.png" width="20" height="25" />Agregar</button>

<mat-divider></mat-divider>
 <button mat-raised-button color="#FFFFFF" class="hover-class"(click)="openDialogEliminarcancion()"><img src="https://cdn-icons-png.flaticon.com/128/3455/3455951.png" width="22" height="25" />Eliminar</button>

<mat-divider></mat-divider>
 <button mat-raised-button color="#FFFFFF" class="hover-class"(click)="openDialogConsultarcancion()"><img src="https://cdn-icons-png.flaticon.com/128/4365/4365924.png" width="22" height="25" />Consultar</button>

<mat-divider></mat-divider>
 <button mat-raised-button color="#FFFFFF" class="hover-class"(click)="openDialogEditarcancion()"><img src="https://cdn-icons-png.flaticon.com/128/2919/2919592.png" width="22" height="25" />Editar</button>
<br>

<mat-divider></mat-divider>