<mat-toolbar >
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <!--<span> APP LOGO </span>-->
       <img src="https://cdn-icons.flaticon.com/png/128/3270/premium/3270234.png?token=exp=1637030954~hmac=9f596d638a8ac97b50fbd7bb9ae1d65f" width="40" height="40" />  DISQUERA 
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayout="20px">
                
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <!--<li>
                    <button mat-button>Cerrar sesión</button>
                </li>-->
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Cerrar sesión
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>

</mat-toolbar>