
<mat-divider></mat-divider>
 <button mat-stroked-button> <img src="https://cdn-icons-png.flaticon.com/128/2302/2302224.png" width="40" height="45" />Artista </button>

<mat-divider></mat-divider>
 <button mat-raised-button color= "#FFFFFF" class="hover-class" (click)="openDialogArtista()"><img src="https://cdn-icons-png.flaticon.com/128/1090/1090923.png" width="20" height="25" />Agregar</button>

<mat-divider></mat-divider>
 <button mat-raised-button color= "#FFFFFF" class="hover-class"(click)="openDialogEliminarArtista()"><img src="https://cdn-icons-png.flaticon.com/128/3455/3455951.png" width="22" height="25" />Eliminar</button>
 
<mat-divider></mat-divider>
 <button mat-raised-button color= "#FFFFFF" class="hover-class"(click)="openDialogConsultarArtista()"><img src="https://cdn-icons-png.flaticon.com/128/4365/4365924.png" width="22" height="25" />Consultar</button>
 
<mat-divider></mat-divider>
 <button mat-raised-button color= "#FFFFFF" class="hover-class"(click)="openDialogEditarArtista()"><img src="https://cdn-icons.flaticon.com/png/128/4248/premium/4248450.png?token=exp=1637035283~hmac=4981ef10004377920ea2325028bebed4" width="20" height="25" />Editar</button>
<br>
<mat-divider></mat-divider>
