
<mat-divider></mat-divider>
<button mat-stroked-button color="#FFFFFF" ><img src="https://cdn-icons-png.flaticon.com/128/1809/1809872.png" width="40" height="45" />Album</button>

<mat-divider></mat-divider>
<button mat-raised-button color="#FFFFFF" class="hover-class" (click)="openDialogAlbum()"><img src="https://cdn-icons-png.flaticon.com/128/1090/1090923.png" width="20" height="25" />Agregar</button>

<mat-divider></mat-divider>
 <button mat-raised-button color="#FFFFFF" class="hover-class"(click)="openDialogEliminarAlbum()"><img src="https://cdn-icons-png.flaticon.com/128/3455/3455951.png" width="22" height="25" />Eliminar</button>
 
<mat-divider></mat-divider>
 <button mat-raised-button color="#FFFFFF" class="hover-class"(click)="openDialogConsultarAlbum()"><img src="https://cdn-icons-png.flaticon.com/128/4365/4365924.png" width="22" height="25" />Consultar</button>
 
<mat-divider></mat-divider>
 <button mat-raised-button color="#FFFFFF" class="hover-class"(click)="openDialogAlbumEditar()"><img src="https://cdn-icons-png.flaticon.com/128/2919/2919592.png" width="22" height="25" />Editar</button>
<br>

<mat-divider></mat-divider>