
<mat-divider></mat-divider>
<button mat-stroked-button color="#FFFFFF" ><img src="https://cdn-icons.flaticon.com/png/128/4780/premium/4780342.png?token=exp=1637120493~hmac=13b5c6e001633feb0c01243aa4d46f22" width="40" height="45" />Album</button>

<mat-divider></mat-divider>
<button mat-raised-button color="#FFFFFF" class="hover-class" (click)="openDialogAlbum()"><img src="https://cdn-icons-png.flaticon.com/128/1090/1090923.png" width="20" height="25" />Agregar</button>

<mat-divider></mat-divider>
 <button mat-raised-button color="#FFFFFF" class="hover-class"(click)="openDialogEliminarAlbum()"><img src="https://cdn-icons-png.flaticon.com/128/3455/3455951.png" width="22" height="25" />Eliminar</button>
 
<mat-divider></mat-divider>
 <button mat-raised-button color="#FFFFFF" class="hover-class"(click)="openDialogConsultarAlbum()"><img src="https://cdn-icons-png.flaticon.com/128/4365/4365924.png" width="22" height="25" />Consultar</button>
 
<mat-divider></mat-divider>
 <button mat-raised-button color="#FFFFFF" class="hover-class"(click)="openDialogAlbumEditar()"><img src="https://cdn-icons.flaticon.com/png/128/4248/premium/4248450.png?token=exp=1637035283~hmac=4981ef10004377920ea2325028bebed4" width="20" height="25" />Editar</button>
<br>

<mat-divider></mat-divider>