<button mat-button (click)="carritoDialog()">Carrito</button>
<mat-divider></mat-divider>


<mat-list>
    <div mat-subheader>Canciones</div>
  <mat-list-item *ngFor="let cancion of canciones">
    <mat-icon mat-list-icon>album</mat-icon>
    <div mat-line>{{cancion.nombreCancion}}</div>
    <div mat-line>Artista: {{cancion.nombreArtistico}}</div>
    <div mat-line>Género: {{cancion.genero}}</div> 
    <div mat-line>Fecha de lanzamiento: {{cancion.fLanzamiento | date:'yyyy-MM-dd '}} </div>
    <div mat-line>Precio: ${{cancion.precio}} </div>

    <button mat-button (click)="comprar(cancion)">Comprar</button>
  </mat-list-item>
  <mat-divider></mat-divider>

  

</mat-list>

