
<div class="login"style="width: 82rem;  height: 24rem">

  <form class="custom-form" method="post" style="text-align:center">
  <img src="https://thump-images.vice.com/images/2015/04/23/el-arte-de-los-logos-para-sellos-discograficos-body-image-1429828387.jpg" width="100px">
    <h3 style="text-align:center">Iniciar Sesión</h3>

    <input style="text-align:center"
      type="email"
     
      name="email"
      placeholder="Email"
      required="required"
    />
    <input style="text-align:center"
      type="password"
      
      name="password"
      placeholder="Password"
      required="required"
    />
    <button color="btn-btn-primary" type="submit" routerLinkActive="list-item-active" routerLink="/"  >Log in</button>
  </form>
</div>