<h2 mat-dialog-title><mat-icon>music_video</mat-icon>Llene los datos de la cancion</h2>
<mat-dialog-content class="mat-h3 or .mat-subheading-2">
  

    <form class="custom-form" method="post" >
            <mat-form-field appearance="fill">
                <mat-label><mat-icon>perm_identity</mat-icon>      Nombre</mat-label>
                <input matInput id="nombre"  value={{cancion.nombre}}
                type="text"
                required="required"
                placeholder="nombre"
                minlength ="4"
                maxlength ="9"
                >
            </mat-form-field>
    
        <mat-divider></mat-divider>
        <br>
        <mat-form-field appearance="fill">
            <mat-label><mat-icon>perm_contact_calendar</mat-icon>      Descripcion</mat-label>
            <input matInput id="descripcion" value={{cancion.descripcion}}
            type="text"
                required="required"
                placeholder="Descripcion"
                minlength ="4"
                maxlength ="9">
        </mat-form-field>
        <mat-divider></mat-divider>
        <br>

        <mat-form-field appearance="fill">
            <mat-label><mat-icon>list</mat-icon> Duración(Segundos) </mat-label>
            <input matInput id="duracion" value={{cancion.duracion}}
            type="number"
                required="required"
                placeholder="Duracion Segundos"
                min ="60"
                max ="360"
            
            >
            </mat-form-field>  
            <mat-divider></mat-divider>
            <mat-form-field appearance="fill">
                <mat-label><mat-icon>perm_identity</mat-icon>   Nacionalidad</mat-label>
                <input matInput id="nacionalidad" value={{cancion.nacionalidad}}
                type="text"
                required="required"
                placeholder="nacionalidad"
                minlength ="4"
                maxlength ="9"
                >
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field appearance="fill">
                <mat-label><mat-icon>list</mat-icon> Precio</mat-label>
                <input matInput id="precio" value={{cancion.precio}}
                type="number"
                    required="required"
                    placeholder="Precio"
                    min ="2000"
                    max ="999999"
                    maxlength="6"
                
                
                >
                  </mat-form-field> 
                 <mat-divider></mat-divider>
        <mat-divider></mat-divider>
        
        <br>
        <mat-form-field appearance="fill">
            <mat-label><mat-icon>list</mat-icon> Número de Ventas </mat-label>
            <input matInput id="numVentas" value={{cancion.numVentas}}
            type="number"
                required="required"
                placeholder="Ventas"
                min ="0"
                max ="999999"
                maxlength="6"
            
            
            
            >
              </mat-form-field> 
              <mat-divider></mat-divider>
            <br> 
        <mat-divider></mat-divider>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Fecha de lanzamiento</mat-label>
            <input  matInput   [min]="minDate" [max]="maxDate"[matDatepicker]="picker" required id="flanzamiento"  placeholder="dd/mm/aaaa"
            (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)"
            value={{cancion.fLanzamiento}}>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
             <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
            <mat-divider></mat-divider>
            <mat-divider></mat-divider>
        </mat-form-field>
         
          <mat-divider></mat-divider>
        <br> 
        <mat-form-field mat-form-field appearance="fill">
            <mat-label><mat-icon>perm_identity</mat-icon>Nombre Artista</mat-label>
            <input matInput id="nombre_artista" disabled value={{nomArtista.nombreArtistico}}>
         </mat-form-field>   
        <mat-form-field  appearance="fill">
            <mat-select  (selectionChange)=changeRatioArtista($event) placeholder="Artista">
                <mat-option *ngFor="let artista of artistas" [value]="artista.id">
                    {{ artista.nombre }}
                </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-divider></mat-divider>
          <mat-form-field mat-form-field appearance="fill">
            <mat-label><mat-icon>perm_identity</mat-icon>Nombre Album</mat-label>
            <input matInput id="nombre_artista" disabled value={{nomAlbum.nombre}}>
         </mat-form-field>   
          <mat-form-field  appearance="fill">
            <mat-select  (selectionChange)=changeRatioAlbum($event) placeholder="Album" [disabled]="count">
                <mat-option *ngFor="let album of albums" [value]="album.id" >
                    {{ album.nombre }}
                </mat-option>
            </mat-select>
          </mat-form-field>
    <mat-divider></mat-divider>
 
 
    
         <button  mat-button  color="#FFFFFF" class="hover-class"[mat-dialog-close]="true" ><mat-icon>cancel</mat-icon> Cancelar</button>
    
        
        <button mat-button color="btn-btn-primary" class="hover-class1" type="submit" (click)="editarCancion()"  ><mat-icon>check_circle</mat-icon> Aceptar</button>
    
    </form>
    </mat-dialog-content>