<h2>    ARTISTAS EN TENDENCIA </h2>
<div class="galeria">

    <input type="radio" name="navegacion" id="_1" checked>
    <input type="radio" name="navegacion" id="_2">
    <input type="radio" name="navegacion" id="_3">
    <input type="radio" name="navegacion" id="_4"> 
    <img src="https://www.elimparcial.com/__export/1611345295346/sites/elimparcial/img/2021/01/22/02_5.jpg_1359985867.jpg" width="260" height="300" alt="Galeria CSS 1" />
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNrwurduF5wJbkk1GFohIqpF9jSdXiSSnm16_F0eneAleXZH9jecXCmLXh_-hU3CswSm4&usqp=CAU" width="260" height="300" alt="Galeria CSS 2"  />
    <img src="http://placekitten.com/260/300" width="260" height="300" alt="Galeria CSS 3" />
    <img src="http://www.stevensegallery.com/260/300" width="260" height="300" alt="Galeria CSS 4" />
  </div>
  <a mat-button color= "#FFFFFF" routerLinkActive="list-item-active" routerLink="/" >Continuar </a>